Django
gunicorn
whitenoise
psycopg2-binary
django-cors-headers
djangorestframework
google-api-python-client
google-auth-httplib2
google-generativeai
faiss-cpu
sentence-transformers
pandas
numpy
torch
transformers
dj-database-url
django-redis